@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  background-color: #003f78;
}

p, h1 {
  color: #deb859;
  text-align: center;
}

p {
  font-family: "Patrick Hand SC", cursive;
}

h1 {
  font-family: "Josefin Slab", serif;
}
