
html {
  background-color: #003f78;
  margin: 10px;
}

p, h1 {
  color: #deb859;
  text-align: center;
}

p {
  font-family: "Patrick Hand SC", cursive;
}

h1 {
  font-family: "Josefin Slab", serif;
}

.border {
  border-top: 2px solid #deb859;
  border-width: medium;
  padding-top: 10px;
  margin-top: 10px;
}

.border-bottom {
  border-bottom: 2px solid #deb859;
  border-width: medium;
  padding-bottom: 10px;
}
